<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Main Layout</title>
  </head>
  <body>
    {{#each errorMessages}}
      <p style="color: red">{{message}}</p>
    {{/each}}
    {{#each successMessage}}
      <p style="color: green">{{message}}</p>
    {{/each}}

    <!-- <h1>Main Layout</h1> -->
    {{{body}}}
    <!-- <footer>My Footer</footer> -->
  </body>
</html>
