<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home for users</title>
  </head>
  <body>
    <h1>your homepage</h1>
    <a href="/login">go to login</a>
    <a href="/register">go register</a>
  </body>
</html>
